# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Testing
coverage/
.coverage
htmlcov/

# Production
build/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Package files
package-lock.json

# Elastic Search
elastic-kibana/data/
elastic-kibana/logs/

# Excel and JSON files
*.xlsx
*.xls
*.csv
today_attendance.json 


